<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="caijing.com.attendance.mapper.UserMapper">

    <resultMap id="UserResult" type="caijing.com.attendance.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="fullName" column="full_name"/>
        <result property="role" column="role"/>
        <result property="phone" column="phone"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findByUsername" resultMap="UserResult" parameterType="string">
        SELECT id, username, password, full_name, role, phone, created_at
        FROM users
        WHERE username = #{username}
    </select>

    <insert id="insertUser" parameterType="caijing.com.attendance.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, full_name, role, phone)
        VALUES (#{username}, #{password}, #{fullName}, #{role}, #{phone})
    </insert>

    <select id="findById" resultMap="UserResult" parameterType="long">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="UserResult">
        SELECT *
        FROM users
        ORDER BY created_at
    </select>

    <update id="update" parameterType="caijing.com.attendance.domain.User">
        UPDATE users
        SET username  = #{username},
            password  = #{password},
            full_name = #{fullName},
            phone     = #{phone},
            role      = #{role}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM users
        WHERE id = #{id}
    </delete>

</mapper>
