<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login / Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/login-register.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/login-register.js}"></script>
</head>
<body>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
    </ul>

    <div class="tab-content">

        <!-- 登录 Tab -->
        <div id="login">
            <h1>Welcome Back</h1>
            <form th:action="@{/login}" method="post">
                <div class="field-wrap">
                    <input type="text" name="username" required placeholder="请输入学号或工号" autocomplete="off"/>
                </div>
                <div class="field-wrap">
                    <input type="password" name="password" required placeholder="请输入密码" autocomplete="off"/>
                </div>
                <div th:if="${error}" style="color:red;">
                    <p th:text="${error}"></p>
                </div>
                <button type="submit" class="button button-block">登 录</button>
            </form>
        </div>

        <!-- 注册 Tab -->
        <div id="signup">
            <h1>Welcome to Register</h1>
            <form id="registerForm" th:action="@{/register}" method="post">
                <!-- 角色选择 -->
                <div class="field-wrap">
                    <select id="role" name="role">
                        <option value="STUDENT">学生</option>
                        <option value="TEACHER">老师</option>
                    </select>
                </div>

                <div class="field-wrap">
                    <label>用户名:</label>
                    <input type="text" id="username" name="username" value="S" placeholder="请输入学号或工号*" required
                           autocomplete="off"/>
                </div>
                <div class="field-wrap">
                    <label>密码:</label>
                    <input type="password" name="password" placeholder="请输入密码*" required autocomplete="off"/>
                </div>
                <div class="field-wrap">
                    <label>姓名:</label>
                    <input type="text" name="fullName" placeholder="请输入姓名*" required autocomplete="off"/>
                </div>
                <div class="field-wrap">
                    <label>电话:</label>
                    <input type="text" name="phone" placeholder="请输入电话" autocomplete="off"/>
                </div>

                <div th:if="${error}" style="color:red;">
                    <p th:text="${error}"></p>
                </div>

                <button type="submit" class="button button-block">注 册</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
